
/*Type DD*/
.content .questiontype03 {width:80%;  text-align:center; margin:20px auto; }
.content .questiontype03 .qnumber {position:absolute;left:80px;}

.content .questiontype03 .picard {width:100%;  display: table; margin:50px auto;}
.content .questiontype03 .picard .imgcell {display:table-cell;height:180px;vertical-align:middle;}
.content .questiontype03 .picard .imgcell .qimg {height:100%;}

.content .questiontype03 .answercell {width:100%; display:table;}
.content .questiontype03 .answerbox {width:100%; background-color:#fff; text-align:left;  border:3px solid #ccc; border-style: dotted; padding:10px 10px; border-radius:15px; margin-bottom:10px; font:700 20px 'Open Sans', sans-serif; height:85px;display:table-cell;vertical-align:middle;}
.content .questiontype03 .answerbox span {border:3px solid #13de9a; border-style: dotted;  padding:10px 10px; border-radius:10px; background-color:#fff; font:500 12px 'Open Sans', sans-serif;  color:#666;line-height:20px;display:inline-block; margin:0 10px;}
.content .questiontype03 .answerbox span img {height:60px;}

.content .questiontype03 .txtcard {width:100%; background-color:#eee; text-align:left;  border:3px solid #ccc; border-style: dotted; padding:10px 10px; border-radius:15px; margin-top:20px;}
.content .questiontype03 .txtcard span {border:3px solid #13de9a; padding:5px 10px; border-radius:10px; background-color:#fff; display:inline-block; font:700 20px 'Open Sans', sans-serif; margin-right:10px;}
.content .questiontype03 .txtcard span img {height:65px;}







