@charset "UTF-8";

/* 하단 플로팅 버튼 있을 경우 */
/* 하단 여백 재설정 */
.has-floating-bn {
  footer {
    .ft {
      .ft_wrap {padding-bottom:90px;}
    }
  }
}

/*반응형 max 992px lg*/
@media (max-width: $media-lg) {
  .has-floating-bn {
    footer {
      .ft {
        .ft_wrap {padding-bottom:17%;}
      }
    }
  }
}

/*반응형 max 767px md*/
@media (max-width: $media-md) {
  .has-floating-bn {
    footer {
      .ft {
        .ft_wrap {padding-bottom:15%;}
      }
    }
  }
}



/* 최상단 띠배너가 있을 경우 header top 조정 only for mobile */
/*반응형 max 992px lg*/
@media (max-width: $media-lg) {
  .has-top-bn-fluid {
    header {
      //position:sticky; top:0; left:0;
      .h_menu.main {position:absolute; top:60px;}
    }
  }
}