input[type=radio]:not(old) {  width : 28px;  margin:0;  padding:0;  opacity : 0;}
input[type=radio]:not(old):checked{  width : 28px;  margin:0;  padding:0;  opacity : 0;}
input[type=radio]:not(old) + label{  display: inline-block;  margin-left : -28px;   background   : url('../images/common/checks03.png') no-repeat 0 20px;  }
input[type=radio]:not(old):checked + label{ display: inline-block;   background-position : 0 -26px; }

/*문제타입 1*/
.content .questiontype01 {
    width:929px; 
    height:604px;  
    text-align:center;
    }

@media (min-height:940px) {
/*문제타입 1*/
.content .questiontype01 {width:100%; height:calc(100vh - 262px);  text-align:center; padding-top:100px; }
.content .questiontype01 .picard {display:inline-block;  width:100%;  }
.content .questiontype01 .qnumber {   position:relative;  top:10px; right:110px;}
.content .questiontype01 .audio {  position:relative;  top:100px; left:40px; }
.content .questiontype01 .answerboxred {width:80%; text-align:left;   height:66px;  margin-top:100px;  background-color:#fcefef; margin-left:10%; border:1px solid #f5dada;   }
.content .questiontype01 .answerboxblue {width:80%; text-align:left;   height:66px;  margin-top:10px;  background-color:#ecf2fe; margin-left:10%; border:1px solid #cfdcf6;  }
.content .questiontype01 .answerboxred  .inputbox { width:100%; float:left; height:60px;  padding-left:30px; }
.content .questiontype01 .answerboxblue  .inputbox {   width:100%; float:left; height:60px;padding-left:30px;   }
.content .questiontype01 .answerboxred label {color:#ff1f1f; font:700 32px 'Open Sans', sans-serif;   line-height:60px;  }
.content .questiontype01 .answerboxblue label {color:#1355d9; font:700 32px 'Open Sans', sans-serif;   line-height:60px; }
.content .questiontype01 .answerboxred label.labeltext {padding-left:60px; }
.content .questiontype01 .answerboxblue label.labeltext {padding-left:60px; }

/*문제타입 2*/
.content .questiontype02 {width:100%; height:calc(100vh - 312px);  text-align:center; padding-top:100px;  }
.content .questiontype02 .linecard {  display:inline-block;   }
.content .questiontype02 .linecard .col01 {float:left;  width:520px;   }
.content .questiontype02 .linecard .col01 .qbox { float:left;  height:140px; margin-bottom:30px; width:520px; position:relative;  }
.content .questiontype02 .linecard .col01 .qnumber {float:left; height:140px;  padding-top:25px;  width:120px; text-align:left;   }
.content .questiontype02 .linecard .col01 .cardframe {float:left;   height:140px; background:url(../images/popup/frame.png) no-repeat; width:121px; height:130px; padding:10px 10px;  margin-right:30px;  }
.content .questiontype02 .linecard .col01 .tbox  {float:left;  width:200px; line-height:24px; height:70px;  text-align:center;  display: table; vertical-align:middle; padding-top:30px;  }
.content .questiontype02 .linecard .col01 .tbox p { display: table-cell;  height:70px;   border:3px solid #e4e4e4; border-radius:5px; font:700 20px 'Open Sans', sans-serif;    text-align:center;  vertical-align:middle; padding:5px 10px;  }
.content .questiontype02 .linecard .col01 .dots { background-color:#a0ada9; height:20px; font-size:0; width:20px; border-radius:10px; position:absolute; top:55px; right:15px; }
.content .questiontype02 .linecard .col01 .redtxt {color:#f45151;}
.content .questiontype02 .linecard .col01 .greentxt {color:#63bf00;}
.content .questiontype02 .linecard .col01 .bluetxt {color:#028df9;}
.content .questiontype02 .linecard .col02 {float:left; width:100px;  height:480px;  }
.content .questiontype02 .linecard .col03 {float:left; width:250px;  }
.content .questiontype02 .linecard .col03 .abox { height:140px; margin-bottom:30px;  }
.content .questiontype02 .linecard .col03 .abox .dots {float:left; margin-top:55px; margin-right:10px ; background-color:#a0ada9; height:20px; font-size:0; width:20px; border-radius:10px; }
.content .questiontype02 .linecard .col03 .abox .tbox  {float:left;  width:200px;  display:inline-block;  display: table;  padding-top:30px;  }
.content .questiontype02 .linecard .col03 .abox .tbox p { display: table-cell;  border:3px solid #e4e4e4; border-radius:5px;  font:700 20px 'Open Sans', sans-serif;  line-height:24px; height:70px;  vertical-align:middle; }


/*문제타입 3 height:calc(100vh - 455px);*/
.content .questiontype03 {width:80%; height:514px;  text-align:center; margin:45px auto 0;  }
.content .questiontype03 .picard {width:100%;  display:inline-block; }
.content .questiontype03 .picard .qnumber {float:left;   text-align:left;   }
.content .questiontype03 .picard .card { margin:30px auto;  }
.content .questiontype03 .paragraph {width:100%; text-align:left; margin:30px 0 50px 0; display:inline-block;   }
.content .questiontype03 .paragraph li { font:700 28px 'Open Sans', sans-serif; line-height:38px; display:inline-block; margin-bottom:10px; }
.content .questiontype03 .paragraph li .tithead {color:#666; float:left; width:100px;   }
.content .questiontype03 .paragraph li .blank {border-bottom:2px solid #222; position:relative; display:inline-block; top:10px; margin:0 10px;  }
.content .questiontype03 .paragraph li .qbody {color:#333;  width:700px; float:left;  }
.content .questiontype03 .answerbox { width:auto;background-color:#eee;  padding:10px 10px; border-radius:15px;  margin:30px auto; }
.content .questiontype03 .answerbox span {border:3px dotted #13de9a; border-radius:10px; background-color:#fff; display:inline-block; margin:5px;  }
.content .questiontype03 .txtcard {width:48%; float:left; background-color:#fff; text-align:left;  border:3px solid #92d050; padding:10px 10px; border-radius:15px;  margin:20px 1%;}
.content .questiontype03 .txtcard2 {width:48%; float:left; background-color:#fff; text-align:left;  border:3px solid #ffc000; padding:10px 10px; border-radius:15px;  margin:20px 1%;}
.content .questiontype03 .txtcard span {border:3px solid #00b050; padding:5px 10px; border-radius:10px; background-color:#fff; display:inline-block; font:700 18px 'Open Sans', sans-serif; margin-right:10px; }
    
.content .questiontype03 .txtcard2 span {border:3px solid #ff6600; padding:5px 10px; border-radius:10px; background-color:#fff; display:inline-block; font:700 18px 'Open Sans', sans-serif; margin-right:10px; }

/*문제타입 4*/
.content .questiontype04 {width:100%; height:calc(100vh - 362px); text-align:center; }
.content .questiontype04 .questionbox {width:100%; text-align:center;   height:100px;  margin-top:100px;   }
.content .questiontype04 .questionbox span.q01 {background:url(../images/popup/num01.jpg) no-repeat; padding-left:100px;  font:700 56px 'Open Sans', sans-serif; display:inline-block; }
.content .questiontype04 .questionbox span.q02 {background:url(../images/popup/num02.jpg) no-repeat; padding-left:100px;  font:700 56px 'Open Sans', sans-serif; display:inline-block; }
.content .questiontype04 .questionbox span.q03 {background:url(../images/popup/num03.jpg) no-repeat; padding-left:100px;  font:700 56px 'Open Sans', sans-serif; display:inline-block; }
.content .questiontype04 .questionbox .audio {background:url(../images/popup/icon_audio.png) no-repeat; width:51px; height:51px; text-indent:-100000em; margin-left:50px; display:inline-block;  position:relative; padding:28px 10px; }
.content .questiontype04 .picarea {margin-top:80px; }
.content .questiontype04 .piccard {background:url(../images/popup/qcard.png) no-repeat; width:506px; height:297px; display:inline-block; padding:21px 73px; text-align:center;  }

/*문제타입 5*/
.content .questiontype05 {width:100%; height:calc(100vh - 312px);  text-align:center; padding:100px 100px 0 100px;   }
.content .questiontype05 .picard {background:url(../images/popup/qcard.png) no-repeat; width:506px; height:297px; display:inline-block; padding:20px 0; }
.content .questiontype05 .qnumber {  position:relative;  top:100px; right:60px; }
.content .questiontype05 .answerbox {width:100%; text-align:center;    margin-top:100px;    display:inline-block;  background-color:#eee; border-radius:10px; }
.content .questiontype05 .answerbox p {width:100%; font:700 28px 'Open Sans', sans-serif; color:#333; padding:10px 0; }
.content .questiontype05 .answerbox p span {margin-right:20px;  }
.content .questiontype05 .answerbox input{width:500px; font-size:24px;  padding:5px 20px; }

/*문제타입 6*/
.content .questiontype06 {width:100%; height:calc(100vh - 312px);  text-align:center; padding-top:160px;  }
.content .questiontype06 .picard { display:inline-block; position:relative;  } 
.content .questiontype06 .qnumber {  position:absolute; left:-120px; }
.content .questiontype06 .player {width:640px; margin:0 auto; }
}



@media (min-height:821px) and (max-height:939px) {
/*문제타입 1*/
.content .questiontype01 {width:100%; height:calc(100vh - 262px);  text-align:center; padding-top:50px; }
.content .questiontype01 .picard {display:inline-block;  width:100%;  }
.content .questiontype01 .qnumber {   position:relative;  top:10px; right:110px;}
.content .questiontype01 .audio {  position:relative;  top:100px; left:40px; }
.content .questiontype01 .answerboxred {width:80%; text-align:left;   height:66px;  margin-top:50px;  background-color:#fcefef; margin-left:10%; border:1px solid #f5dada;   }
.content .questiontype01 .answerboxblue {width:80%; text-align:left;   height:66px;  margin-top:10px;  background-color:#ecf2fe; margin-left:10%; border:1px solid #cfdcf6;  }
.content .questiontype01 .answerboxred  .inputbox { width:100%; float:left; height:60px;  padding-left:30px; }
.content .questiontype01 .answerboxblue  .inputbox {   width:100%; float:left; height:60px;padding-left:30px;   }
.content .questiontype01 .answerboxred label {color:#ff1f1f; font:700 32px 'Open Sans', sans-serif;   line-height:60px;  }
.content .questiontype01 .answerboxblue label {color:#1355d9; font:700 32px 'Open Sans', sans-serif;   line-height:60px; }
.content .questiontype01 .answerboxred label.labeltext {padding-left:60px; }
.content .questiontype01 .answerboxblue label.labeltext {padding-left:60px; }

/*문제타입 2*/
.content .questiontype02 {width:100%; height:calc(100vh - 312px);  text-align:center; padding-top:50px;  }
.content .questiontype02 .linecard {  display:inline-block;   }
.content .questiontype02 .linecard .col01 {float:left;  width:520px;   }
.content .questiontype02 .linecard .col01 .qbox { float:left;  height:140px; margin-bottom:30px; width:520px; position:relative;  }
.content .questiontype02 .linecard .col01 .qnumber {float:left; height:140px;  padding-top:25px;  width:120px; text-align:left;   }
.content .questiontype02 .linecard .col01 .cardframe {float:left;   height:140px; background:url(../images/popup/frame.png) no-repeat; width:121px; height:130px; padding:10px 10px;  margin-right:30px;  }
.content .questiontype02 .linecard .col01 .tbox  {float:left;  width:200px; line-height:24px; height:70px;  text-align:center;  display: table; vertical-align:middle; padding-top:30px;  }
.content .questiontype02 .linecard .col01 .tbox p { display: table-cell;  height:70px;   border:3px solid #e4e4e4; border-radius:5px; font:700 20px 'Open Sans', sans-serif;    text-align:center;  vertical-align:middle; padding:5px 10px;  }
.content .questiontype02 .linecard .col01 .dots { background-color:#a0ada9; height:20px; font-size:0; width:20px; border-radius:10px; position:absolute; top:55px; right:15px; }
.content .questiontype02 .linecard .col01 .redtxt {color:#f45151;}
.content .questiontype02 .linecard .col01 .greentxt {color:#63bf00;}
.content .questiontype02 .linecard .col01 .bluetxt {color:#028df9;}
.content .questiontype02 .linecard .col02 {float:left; width:100px;  height:480px;  }
.content .questiontype02 .linecard .col03 {float:left; width:250px;  }
.content .questiontype02 .linecard .col03 .abox { height:140px; margin-bottom:30px;  }
.content .questiontype02 .linecard .col03 .abox .dots {float:left; margin-top:55px; margin-right:10px ; background-color:#a0ada9; height:20px; font-size:0; width:20px; border-radius:10px; }
.content .questiontype02 .linecard .col03 .abox .tbox  {float:left;  width:200px;  display:inline-block;  display: table;  padding-top:30px;  }
.content .questiontype02 .linecard .col03 .abox .tbox p { display: table-cell;  border:3px solid #e4e4e4; border-radius:5px;  font:700 20px 'Open Sans', sans-serif;  line-height:24px; height:70px;  vertical-align:middle; }


/*문제타입 3*/
.content .questiontype03 {width:80%; height:calc(100vh - 312px);  text-align:center; margin-top:30px; margin-left:10%; }
.content .questiontype03 .picard {width:100%;  display:inline-block; }
.content .questiontype03 .picard .qnumber {float:left;   text-align:left;   }
.content .questiontype03 .picard .card {float:left;  margin-left:20%;   }
.content .questiontype03 .paragraph {width:100%; text-align:left; margin:30px 0 20px 0; display:inline-block; }
.content .questiontype03 .paragraph li { font:700 28px 'Open Sans', sans-serif; line-height:38px; display:inline-block; margin-bottom:5px; }
.content .questiontype03 .paragraph li .tithead {color:#666; float:left; width:100px;   }
.content .questiontype03 .paragraph li .blank {border-bottom:2px solid #222; position:relative; display:inline-block; top:10px; margin:0 10px;  }
.content .questiontype03 .paragraph li .qbody {color:#333;  width:700px; float:left;  }
.content .questiontype03 .answerbox {width:100%; background-color:#eee; text-align:left; padding:10px 10px; border-radius:15px;  margin-bottom:20px; }
.content .questiontype03 .answerbox span {border:3px solid #13de9a; border-style: dotted;  padding:5px 10px; border-radius:10px; background-color:#fff; display:inline-block; font:500 11px 'Open Sans', sans-serif;  color:#666; letter-spacing:-0.5px;  margin:5px; line-height:20px;  }
.content .questiontype03 .txtcard {width:100%; background-color:#fff; text-align:left;  border:3px solid #ccc; border-style: dotted; padding:10px 10px; border-radius:15px;   float:left;  margin-bottom:20px; }
.content .questiontype03 .txtcard span {border:3px solid #13de9a; padding:5px 10px; border-radius:10px; background-color:#fff; display:inline-block; font:700 18px 'Open Sans', sans-serif; margin-right:10px; }

/*문제타입 4*/
.content .questiontype04 {width:100%; height:calc(100vh - 322px); text-align:center;}
.content .questiontype04 .questionbox {width:100%; text-align:center;  height:100px;  margin-top:50px;   }
.content .questiontype04 .questionbox span.q01 {background:url(../images/popup/num01.jpg) no-repeat; padding-left:100px;  font:700 56px 'Open Sans', sans-serif; display:inline-block; }
.content .questiontype04 .questionbox span.q02 {background:url(../images/popup/num02.jpg) no-repeat; padding-left:100px;  font:700 56px 'Open Sans', sans-serif; display:inline-block; }
.content .questiontype04 .questionbox span.q03 {background:url(../images/popup/num03.jpg) no-repeat; padding-left:100px;  font:700 56px 'Open Sans', sans-serif; display:inline-block; }
.content .questiontype04 .questionbox .audio {background:url(../images/popup/icon_audio.png) no-repeat; width:51px; height:51px; text-indent:-100000em; margin-left:50px; display:inline-block;  position:relative; padding:28px 10px; }
.content .questiontype04 .picarea {margin-top:50px; }
.content .questiontype04 .piccard {background:url(../images/popup/qcard.png) no-repeat; width:506px; height:297px; display:inline-block; padding:21px 73px; text-align:center;  }

/*문제타입 5*/
.content .questiontype05 {width:100%; height:calc(100vh - 262px);  text-align:center; padding:80px 100px 0 100px;   }
.content .questiontype05 .picard {background:url(../images/popup/qcard.png) no-repeat; width:506px; height:297px; display:inline-block; padding:20px 0; }
.content .questiontype05 .qnumber {  position:relative;  top:100px; right:60px; }
.content .questiontype05 .answerbox {width:100%; text-align:center;    margin-top:50px;    display:inline-block;  background-color:#eee; border-radius:10px; }
.content .questiontype05 .answerbox p {width:100%; font:700 28px 'Open Sans', sans-serif; color:#333; padding:10px 0; }
.content .questiontype05 .answerbox p span {margin-right:20px;  }
.content .questiontype05 .answerbox input{width:500px; font-size:24px;  padding:5px 20px; }

/*문제타입 6*/
.content .questiontype06 {width:100%; height:calc(100vh - 262px);  text-align:center; padding-top:100px;  }
.content .questiontype06 .picard { display:inline-block; position:relative;  } 
.content .questiontype06 .qnumber {  position:absolute; left:-120px; }
.content .questiontype06 .player {width:640px; margin:0 auto; }
}


@media (max-height:820px) {
/*문제타입 1*/
.content .questiontype01 {width:100%; height:calc(100vh - 262px);  text-align:center; padding-top:20px; }
.content .questiontype01 .picard {display:inline-block;  width:100%;  }
.content .questiontype01 .qnumber {   position:relative;  top:10px; right:110px;}
.content .questiontype01 .audio {  position:relative;  top:100px; left:40px; }
.content .questiontype01 .answerboxred {width:80%; text-align:left;   height:66px;  margin-top:20px;  background-color:#fcefef; margin-left:10%; border:1px solid #f5dada;   }
.content .questiontype01 .answerboxblue {width:80%; text-align:left;   height:66px;  margin-top:10px;  background-color:#ecf2fe; margin-left:10%; border:1px solid #cfdcf6;  }
.content .questiontype01 .answerboxred  .inputbox { width:100%; float:left; height:60px;  padding-left:30px; }
.content .questiontype01 .answerboxblue  .inputbox {   width:100%; float:left; height:60px;padding-left:30px;   }
.content .questiontype01 .answerboxred label {color:#ff1f1f; font:700 32px 'Open Sans', sans-serif;   line-height:60px;  }
.content .questiontype01 .answerboxblue label {color:#1355d9; font:700 32px 'Open Sans', sans-serif;   line-height:60px; }
.content .questiontype01 .answerboxred label.labeltext {padding-left:60px; }
.content .questiontype01 .answerboxblue label.labeltext {padding-left:60px; }

/*문제타입 2*/
.content .questiontype02 {width:100%; height:calc(100vh - 312px);  text-align:center; padding-top:30px;  }
.content .questiontype02 .linecard {  display:inline-block;   }
.content .questiontype02 .linecard .col01 {float:left;  width:520px;   }
.content .questiontype02 .linecard .col01 .qbox { float:left;  height:140px; margin-bottom:10px; width:520px; position:relative;  }
.content .questiontype02 .linecard .col01 .qnumber {float:left; height:140px;  padding-top:25px;  width:120px; text-align:left;   }
.content .questiontype02 .linecard .col01 .cardframe {float:left;   height:140px; background:url(../images/popup/frame.png) no-repeat; width:121px; height:130px; padding:10px 10px;  margin-right:30px;  }
.content .questiontype02 .linecard .col01 .tbox  {float:left;  width:200px; line-height:24px; height:70px;  text-align:center;  display: table; vertical-align:middle; padding-top:30px;  }
.content .questiontype02 .linecard .col01 .tbox p { display: table-cell;  height:70px;   border:3px solid #e4e4e4; border-radius:5px; font:700 20px 'Open Sans', sans-serif;    text-align:center;  vertical-align:middle; padding:5px 10px;  }
.content .questiontype02 .linecard .col01 .dots { background-color:#a0ada9; height:20px; font-size:0; width:20px; border-radius:10px; position:absolute; top:55px; right:15px; }
.content .questiontype02 .linecard .col01 .redtxt {color:#f45151;}
.content .questiontype02 .linecard .col01 .greentxt {color:#63bf00;}
.content .questiontype02 .linecard .col01 .bluetxt {color:#028df9;}
.content .questiontype02 .linecard .col02 {float:left; width:100px;  height:480px;  }
.content .questiontype02 .linecard .col03 {float:left; width:250px;  }
.content .questiontype02 .linecard .col03 .abox { height:140px; margin-bottom:10px;  }
.content .questiontype02 .linecard .col03 .abox .dots {float:left; margin-top:55px; margin-right:10px ; background-color:#a0ada9; height:20px; font-size:0; width:20px; border-radius:10px; }
.content .questiontype02 .linecard .col03 .abox .tbox  {float:left;  width:200px;  display:inline-block;  display: table;  padding-top:30px;  }
.content .questiontype02 .linecard .col03 .abox .tbox p { display: table-cell;  border:3px solid #e4e4e4; border-radius:5px;  font:700 20px 'Open Sans', sans-serif;  line-height:24px; height:70px;  vertical-align:middle; }

/*문제타입 3*/
.content .questiontype03 {width:80%; height:calc(100vh - 312px);  text-align:center; margin-top:0; margin-left:10%; }
.content .questiontype03 .picard {width:100%;  display:inline-block; }
.content .questiontype03 .picard .qnumber {float:left;   text-align:left;   }
.content .questiontype03 .picard .card {float:left;  margin-left:20%;   }
.content .questiontype03 .paragraph {width:100%; text-align:left; margin:10px 0 0 0; display:inline-block; }
.content .questiontype03 .paragraph li { font:700 28px 'Open Sans', sans-serif; line-height:38px; display:inline-block; margin-bottom:3px; }
.content .questiontype03 .paragraph li .tithead {color:#666; float:left; width:100px;   }
.content .questiontype03 .paragraph li .blank {border-bottom:2px solid #222; position:relative; display:inline-block; top:10px; margin:0 10px;  }
.content .questiontype03 .paragraph li .qbody {color:#333;  width:700px; float:left;  }
.content .questiontype03 .answerbox {width:100%; background-color:#eee; text-align:left; padding:10px 10px; border-radius:15px;  margin-bottom:10px; }
.content .questiontype03 .answerbox span {border:3px solid #13de9a; border-style: dotted;  padding:5px 10px; border-radius:10px; background-color:#fff; display:inline-block; font:500 11px 'Open Sans', sans-serif;  color:#666; letter-spacing:-0.5px;  margin:5px; line-height:20px;  }
.content .questiontype03 .txtcard {width:100%; background-color:#fff; text-align:left;  border:3px solid #ccc; border-style: dotted; padding:10px 10px; border-radius:15px;   float:left;  margin-bottom:10px; }
.content .questiontype03 .txtcard span {border:3px solid #13de9a; padding:5px 10px; border-radius:10px; background-color:#fff; display:inline-block; font:700 18px 'Open Sans', sans-serif; margin-right:10px; }

/*문제타입 4*/
.content .questiontype04 {width:100%; height:calc(100vh - 312px); text-align:center; }
.content .questiontype04 .questionbox {width:100%; text-align:center;   height:100px;  margin-top:50px;   }
.content .questiontype04 .questionbox span.q01 {background:url(../images/popup/num01.jpg) no-repeat; padding-left:100px;  font:700 56px 'Open Sans', sans-serif; display:inline-block; }
.content .questiontype04 .questionbox span.q02 {background:url(../images/popup/num02.jpg) no-repeat; padding-left:100px;  font:700 56px 'Open Sans', sans-serif; display:inline-block; }
.content .questiontype04 .questionbox span.q03 {background:url(../images/popup/num03.jpg) no-repeat; padding-left:100px;  font:700 56px 'Open Sans', sans-serif; display:inline-block; }
.content .questiontype04 .questionbox .audio {background:url(../images/popup/icon_audio.png) no-repeat; width:51px; height:51px; text-indent:-100000em; margin-left:50px; display:inline-block;  position:relative; padding:28px 10px; }
.content .questiontype04 .picarea {margin-top:30px; }
.content .questiontype04 .piccard {background:url(../images/popup/qcard.png) no-repeat; width:506px; height:297px; display:inline-block; padding:21px 73px; text-align:center;  }

/*문제타입 5*/
.content .questiontype05 {width:100%; height:calc(100vh - 262px);  text-align:center; padding:50px 100px 0 100px;   }
.content .questiontype05 .picard {background:url(../images/popup/qcard.png) no-repeat; width:506px; height:297px; display:inline-block; padding:20px 0; }
.content .questiontype05 .qnumber {  position:relative;  top:100px; right:60px; }
.content .questiontype05 .answerbox {width:100%; text-align:center;    margin-top:50px;    display:inline-block;  background-color:#eee; border-radius:10px; }
.content .questiontype05 .answerbox p {width:100%; font:700 28px 'Open Sans', sans-serif; color:#333; padding:10px 0; }
.content .questiontype05 .answerbox p span {margin-right:20px;  }
.content .questiontype05 .answerbox input{width:500px; font-size:24px;  padding:5px 20px; }

/*문제타입 6*/
.content .questiontype06 {width:100%; height:calc(100vh - 262px);  text-align:center; padding-top:80px;  }
.content .questiontype06 .picard { display:inline-block; position:relative;  } 
.content .questiontype06 .qnumber {  position:absolute; left:-120px; }
.content .questiontype06 .player {width:640px; margin:0 auto; }


}
