@charset 'UTF-8';

/* TODO : 임시 구성 및 스타일 */
/* SuperPick 슈퍼픽 */
.superpick {
    position: relative;
    width: 100%; height: 100%;
    //padding: 132px 36px;

  //.pop-gnb button { z-index: $depth-0; }
  
  /* 슈퍼픽 셀렉박스 설정 */
  .drop-guide {
    position: relative;
    p {
      position: absolute;
      display: inline-block;
      width: 336px; height: 42px;
      right: 75px;
      padding: 12px 35px 12px 34px;
      box-sizing: border-box;
      border-radius: 0 0 30px 30px;
      background-color: $color-superpick-blue-rgb;
      img { width: 100%; }
    }
  }
  .dropdown-wrap {
    margin-top:13px;
    padding:0 36px;
    .dropdown {
      width: 510px;

      .vs--searchable {
        .vs__dropdown-toggle {
          max-width: 510px;
          height: 78px;
          padding: 25px 30px;
          border-radius: 40px;
          background-color: #FFFFFF;
          border: 1px solid #CBCBCB;

          .vs__selected-options { width: 90%; }
        }
        &.vs--open {
          .vs__dropdown-toggle {
            max-width: 100%;
            border-radius: 40px;
            border-bottom: 1px solid #CBCBCB;
          }
        }
        .vs__search,
        .vs__selected {
          display: block;
          font-size: 27px;
          max-width: 95%;
          padding: 0;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }

      .vs__dropdown-menu {
        max-width: 510px; width: 100%;
        max-height: max-content; height: max-content;
        padding: 15px 30px;
        margin: 12px 0 0;
        border-radius: 39px;
        border: 1px solid #CBCBCB;
        box-shadow: none;
        background-color: #FFFFFF;
        font-size: 27px;

        /* 셀렉박스 옵션 묶음 */
        .vs__dropdown-option {
          display: block;
          width: 100%; height: 78px;
          padding: 0;
          letter-spacing: -1.08px;
          color: #4D4D4D;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          line-height: 78px;

          &:focus { color: #0C80F8; }
          &:after { display: none; }
        }
      }
    }
    /* 슈퍼픽 셀렉박스 화살표 설정 */
    .vs__open-indicator { width: 30px; height: 30px; }
  }
  .background {
    position: fixed;
    width: 100%; height: 100%;
    top: 0; left: 0;
    background-size: 100% 100%;
    z-index:$depth-1-m;
  }
  
  /* 슈퍼픽 책 리스트 묶음 */
  .list-wrap {
    div {
      position: absolute;
      width: calc( 100% - 64px);
      height: 974px;

      ul {
        display: flex;
        position: absolute;

        li {
          position: relative;
          width: 360px;
          height: 318px;
          //background-color: deepskyblue;
          //opacity: 0.5;

          button {
            width: 100%;
            height: 100%;
            display: inline-block;
            font-size: 0;
          }
          /* 슈퍼픽 완료 책 표시(숨김) */
          .check {
             width: 120px;
             height: 120px;
             position: absolute;
             right: 0;
             bottom: 78px;
             left: 0;
             margin: auto;
             background: url("#{$ico-url}/ico_check_circle.webp") no-repeat;
             background-size: 100% 100%;
             display: none;
           }
          /* 슈퍼픽 완료 책 표시(나타냄) */
          &.complete .check { display: block; pointer-events: none; }
        }
      }
      /* 템플릿 1 */
      &.template1 {
        ul {
          width: 1212px; height: 721px;
          right: 43px; bottom: 91px;
          gap: 86px 66px;
          flex-wrap: wrap;
          justify-content: flex-end;

          &::before {
            display: inline-block;
            content: '';
            width: 360px; height: 318px;
          }
        }
      }
      /* 템플릿 2 */
      &.template2 {
        ul {
          width: 1824px;
          gap: 6px;
          top: 330px; right: 0; left: 0;
          margin: auto;
        }
      }
      /* 템플릿 3 */
      &.template3 {
        ul {
          width: fit-content; height: 110%;
          flex-direction: column;
          flex-wrap: wrap;
          margin: auto;
          gap: 37px 638px;
          top: -128px; left: 134px;

          li {
            &:nth-child(2) { margin: 9px 0 0 202px; }
            &:nth-child(3) { margin: 0 0 0 82px; }
            &:nth-child(4) { margin: 244px 0 0 0; }
            &:nth-child(5) { margin: 39px 0 0 90px; }
          }
        }
      }
    }
  }

  .final {
    position: fixed;
    width: 100%; height: 100%;
    top: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: $depth-modal;

    img { width: 100%; }
  }
}