#content {width:100%; background-color:#eef2f3; padding:40px 0 50px 0; position:relative; }
#content .titarea {width:980px; margin:0 auto; height:100px; text-align:center; }
#content .titarea p {
    padding-top:10px;
    font-size:32px;
    position: relative;
    font-weight:500;
    color:#333;
}
#content .titarea p span {
    position:absolute;
    bottom: -15px;
    left:0;
    right:0;
    width:50px;
    height:1px;
    border:1px solid #000;
    margin:0 auto;
}

#content .titarea .location { margin-top:18px; font-size:11px; font-family:dotum; color:#b4b4b4; width:100%; text-align:right; }
#content .titarea .location span:nth-child(odd) {color:#dcdcdc; line-height:12px; }
#content .titarea .location span:nth-child(even) {color:#b4b4b4; line-height:12px; }
#content .titarea .location span:last-child {
    margin-right:12px;
}


#content .topbar {box-sizing: border-box;width:980px; background-color:#fff; margin:0 auto; height:56px; z-index:11; position:relative; margin-bottom:10px; box-sizing: border-box;  border: 1px solid #d9d9d9;}
#content .topbar .leftside {width:85%; float:left; padding:9px 10px 9px 9px; text-align:left; }
#content .topbar .leftside02 {width:70%; float:left; padding:9px 10px 9px 9px; text-align:left; border-left:1px solid #d2dcdf; border-top:1px solid #d2dcdf; border-bottom:1px solid #d2dcdf;}
#content .topbar .leftside03 {width:100%; float:left; padding:9px 10px 9px 9px; text-align:left; border:1px solid #d2dcdf; }
#content .topbar .leftside04 {width:50%; float:left; padding:9px 10px 9px 9px; text-align:left; border-left:1px solid #d2dcdf; border-top:1px solid #d2dcdf; border-bottom:1px solid #d2dcdf; }

#content .topbar .rightside {box-sizing: border-box; width:145px; float:right; text-align:center; background-color:#fba303; height:55px; display:block; padding:15px 0; border:1px solid #c27200; }
#content .topbar .rightside02 {box-sizing: border-box; width:15%; float:right; text-align:center; background-color:#0caef1; height:56px; display:block; padding-top:18px; border:1px solid #0ab5df; }
#content .topbar .rightside03 {box-sizing: border-box; width:50%; float:right; text-align:right; height:56px; display:block;padding:9px 10px 9px 9px; border-right:1px solid #d2dcdf; border-top:1px solid #d2dcdf; border-bottom:1px solid #d2dcdf; }


#content .topbar img {vertical-align: middle; }
#content .topbar .rightside {color:#fff;}
#content .topbar .add_class {font-size:15px;}

#content .topbar .rightside .btn_topbar {width:105px; float:left; background-color:#13c1ec; padding:18px 19px 18px 20px; text-align:center; border:1px solid #0ab5df; }
#content .topbar .rightside .btn_topbar a {color:#fff; font-size:12px; }

#content .topbar .rightside:after {content:'';display:block; clear:both}
#content .topbar .rightside02:after {content:'';display:block; clear:both}

#content .sub {background-color:#669966; box-sizing: border-box; width:980px; background-color:#fff; margin:0 auto; padding:39px 39px 60px 39px; min-height:500px; z-index:10; position:relative; border:1px solid #d2dcdf; }
#content .sub02 {box-sizing: border-box; width:980px;margin:0 auto; min-height:500px; z-index:10; position:relative;}
#content .sub02:after {content:'';display:block;clear:both}

#content .ebook {width:100%; text-align:center; height:280px;  }
#content .ebook img {border:5px solid #1a202c; margin:30px 0; }
#content  .ebook_btnbox {width:280px; text-align:center;  padding:0 30px 20px 30px; border-bottom:1px solid #181d27;   margin:0 20px 30px 20px;    }

#content .ebooklist {width:280px; text-align:center;  margin:0 25px;   }
#content .ebooklist li {float:left; padding:0 5px;  }
#content .ebooklist li img{width:80px;  }

#content .blankbox01{box-sizing: border-box; float:left; background-color:#fff; position:relative; padding:10px; border:1px solid #d2dcdf; }
#content .blankbox01 .dotbox { border-width: 3px; border-color: #e5e9eb; border-style: dotted; text-align:center; }

#content .blankbox02 {box-sizing: border-box; float:left; background-color:#dad9d1; padding:10px; border:1px solid #c4cdcf; }
#content .blankbox02 .dotbox { border-width: 3px; border-color: #ffffff; border-style: dotted; text-align:center; }

#content .blankbox03{box-sizing: border-box; float:left;background-color:#fff; position:relative; padding:10px; border:1px solid #d2dcdf; }
#content .blankbox03 .dotbox { border-width: 3px; border-color: #e5e9eb; border-style: dotted; text-align:center; }

#content .blankbox04 {box-sizing: border-box; float:left; background-color:#d1d8da; padding:10px; border:1px solid #c4cdcf; }
#content .blankbox04 .dotbox{ border-width: 3px; border-color: #ffffff; border-style: dotted; text-align:center; }

#content .blankbox05 {box-sizing: border-box; float:left; background-color:#b4c3c8; padding:10px; border:1px solid #a5b6bb; }
#content .blankbox05 .dotbox { border-width: 3px; border-color: #e9eff0; border-style: dotted; text-align:center; }

#content .blankbox06 {box-sizing: border-box; float:left; background-color:#fff; padding:10px; border:1px solid #a5b6bb; }
#content .blankbox06 .dotbox { border-width: 3px; border-color: #cfd5d7; border-style: dotted; text-align:center; }

.dotbox .tit01 {font:500 20px 'Noto Sans KR', sans-serif; color:#a2a2a2; }
.dotbox .tit02 {font:500 20px 'Noto Sans KR', sans-serif; color:#fff; }
.dotbox .step01 {font-size:24px; color:#ccc; font-weight:600; margin-top:10px;}
.dotbox .step01-1 {font-size:24px; color:#fba303; font-weight:600; margin-top:10px;}
.dotbox .step02 {font-size:24px; color:#fff; font-weight:400; margin-top:10px;}
.dotbox .disc01 {font-size:14px; color:#a1a1a1; line-height:20px; }
.dotbox .disc02 {font-size:14px; color:#fff; line-height:20px; }


#content .box_class {box-sizing: border-box; float:left; background-color:#283142; position:relative; }
#content .box_class .titbox {background-color:#202836; width:100%; padding:18px 25px 20px 25px;}
#content .box_class .titbox span {color:#fff; font-size:20px; font-family: 'Noto Sans KR', sans-serif; font-weight:300; }
#content .box_class .titbox .btn_quick {padding:6px 0; width:60px; display:inline-block; text-align:center; background-color:#283142; font-size:11px; font-weight:300; position:relative; top:0px; right:0; border:1px solid #18191d; float:right; }
#content .box_class .titbox a, #content .box_class .titbox a:hover {color:#a2aec5; text-decoration:none; }

#content .box_class .stlist { width:100%; display:block; }
#content .box_class .stlist li {
    box-sizing: border-box;
    width:100%;
    padding:0 10px;
    border-bottom:1px solid #212937;
}

#content .box_class .stlist li a {
    color:#64718a;
    font-family:500 15px 'Noto Sans KR', sans-serif;
    display:block;
    width:100%;
    line-height:35px;
    padding:13px 5px;
    text-decoration:none;
}

#content .box_class .stlist li a span {position:relative; top:2px; left:10px; text-overflow:ellipsis; white-space: nowrap; overflow:hidden; width:70%; }
#content .box_class .stlist li a span.arrow {float:right; margin-right:10px; font-size:13px; width:fit-content;}
#content .box_class .stlist li a span.eng {font-weight:700; }
#content .box_class .stlist li img {border-radius:18px; margin-top:-5px; }



.stlist .active1 {
    background-color:#fb8614;
}
.stlist .active1 a span{
    color : #fff;
}

.select_student span input + label, .selectclass p input + label {
    color:#222;
}

#content .box_class .pagebox {}
#content .box_class .pagebox li {float:left; }

#content .box_class02 {box-sizing: border-box; float:left; background-color:#d1d8da; position:relative; padding:18px 5px 25px 25px; }
#content .box_class02 .titbox {width:100%; padding:18px 25px 20px 25px; color:#202836; }

#content .box_class03 {box-sizing: border-box; float:left; background-color:#b9c1c4; position:relative; padding:18px 5px 25px 25px; }
#content .box_class03 .titbox {width:100%; padding:18px 25px 20px 25px; color:#202836; }
#content .box_class04 {box-sizing: border-box; float:left; background-color:#d1d8da; position:relative; padding:18px 25px 25px 25px; }
#content .box_class04 .titbox {width:100%; padding:18px 25px 20px 25px; color:#202836; }
#content .box_class05 {box-sizing: border-box; float:left; background-color:#d1d8da; position:relative; padding:18px 5px 25px 25px; }
#content .box_class05 .titbox {width:100%; padding:18px 25px 20px 25px; color:#202836; }
#content .box_class05 p {font:400 20px 'Noto Sans KR', sans-serif; }

#content .boxblank {box-sizing: border-box; margin:auto; }
.maintitle {font:400 20px 'Noto Sans KR',  sans-serif; color:#333333; margin-bottom:16px; }
.maintitle  span {
    position:relative;
    float:right;
    top:-4px;
    right:2px ;
}

#content .boxblank  .mainbox01 {background-color:#fff; width:100%; height:358px; float:left; margin-bottom:10px; padding:19px 25px 25px 25px; border:8px solid #283142; box-sizing: border-box;   }
#content .boxblank  .mainbox02 {background-color:#fff;  height:256px; float:left; margin-right:10px; padding:19px 25px 25px 25px; border:1px solid #dde5e7; box-sizing: border-box; }
#content .boxblank  .mainbox03 {background-color:#fff;  height:256px; float:left; margin-right:10px; padding:19px 25px 25px 25px; border:1px solid #dde5e7; box-sizing: border-box; }

#content .boxblank  .mainbox04 {width:240px; float:left; }
#content .boxblank  .mainbox04 img {margin:0; padding:0; border:0; width:100%; height:100% }

#content .box_contents01 {box-sizing: border-box; float:left; background-color:#fff; padding:18px 25px 25px 25px; border:1px solid #dde5e7; }

.tablebox01 {width:100%; height:550px; overflow-y:auto;  padding-right:5px;
    scrollbar-3dlight-color:#fff; scrollbar-arrow-color:#ddd; scrollbar-track-color:#fff; scrollbar-darkshadow-color:#fff;scrollbar-face-color:#ddd;
    scrollbar-highlight-color:#fff; scrollbar-shadow-color:#fff;}
.tablebox01::-webkit-scrollbar { width: 6px; }
.tablebox01::-webkit-scrollbar-thumb { border-radius: 3px; -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.5); background-color:#ddd;  }
.tablebox02 {width:100%;overflow-y:auto; height:565px; padding-right:5px;
    scrollbar-3dlight-color:#d1d8da; scrollbar-arrow-color:#c0c8ca; scrollbar-track-color:#d1d8da; scrollbar-darkshadow-color:#d1d8da;scrollbar-face-color:#c0c8ca;
    scrollbar-highlight-color:#d1d8da; scrollbar-shadow-color:#d1d8da;}
.tablebox02::-webkit-scrollbar { width: 6px; }
.tablebox02::-webkit-scrollbar-thumb { border-radius: 3px; -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.5); background-color:#c0c8ca;  }

#content .box_contents01:after {content:'';display:block; clear:both}
#content .box_contents02 {box-sizing: border-box; float:left; background-color:#fff; padding:18px 25px 25px 25px; border:1px solid #dde5e7; }
#content .box_contents02:after {content:'';display:block; clear:both}

.main_tbl01, .main_tbl02, .main_tbl03 {width:100%; border-top:2px solid #222; table-layout: fixed;}
.main_tbl01 th, .main_tbl01 td, .main_tbl02 th, .main_tbl02 td, .main_tbl03 th, .main_tbl03 td{text-align:center; font:400 13px 'Noto Sans KR', sans-serif; color:#555555;}
.main_tbl01 thead, .main_tbl02 thead, .main_tbl03 thead {border-bottom:1px solid #d7d7d7;  border-right:1px solid #d7d7d7; border-left:1px solid #d7d7d7; background-color:#eeeeee; }

.main_tbl01 th, .main_tbl02 th, .main_tbl03 th{
    padding:10px;
    font-weight:700;
}
.main_tbl01 thead tr th:last-child {
    width:200px;
}
.main_tbl01 thead tr th:nth-child(1){
    width:300px;
}
.main_tbl01 td {
    font-size:13px;
    padding:5px;
    border-bottom:1px solid #d7d7d7;
    overflow:hidden;
}
.main_tbl01 td a, .main_tbl02 td a, .main_tbl03 td a{
    color:#333;
    font-weight:700;
    font:400 13px 'Noto Sans KR', sans-serif;
}
.main_tbl01 td a:hover {color:#00a2ff; }
.main_tbl01 td.class {font:700 14px 'Noto Sans KR', sans-serif;  color:#0caef1; }
.main_tbl01 td.unit {font:500 13px 'Noto Sans KR', sans-serif;  color:#8b8b8b; }
.main_tbl01 tbody tr td:first-child {
    text-align:left;
    color:#38bada;
    font:500 14px 'Noto Sans KR', sans-serif;

}
.main_tbl02 td, .main_tbl03 td {color:#8b8b8b; }
.main_tbl02 td.date {font:300 13px 'Noto Sans KR', sans-serif;  color:#8b8b8b; }
.main_tbl02 td a:hover, .main_tbl03 td a:hover {text-decoration: none;}

tbody tr td:first-child .main_series_name {
    color:#b2b2b2;
    font:500 11px 'Noto Sans KR', sans-serif;

}
.main_tbl02 td:first-child {
    text-align:left;
}

.tbl_list02 tbody tr td:first-child {
    text-align:left;
    font-size:14px;
    color:#0caef1;
    /*    padding-left:8px;*/
    font-weight:500;
}
tbody tr td:last-child a {
    margin:5px auto;
    text-align: center;
    display:block;
}
tbody tr td .not_success {
    color:#8b8b8b;
}
tbody .success_date {
    color:#999;
    font-size:11px;
    margin-top:2px;
}

.annotate {
    float:right;
    color:#999;
    font-size:11px;
    vertical-align: middle;
    line-height:20px;
    margin-top:10px;
}
.annotate img{
    margin-right:5px;
}
.student_wrap {
    height:570px;
    overflow-y:auto;
}
.student_list {
    width:120px;
    height:550px;
    text-align:center;
    overflow-y:auto;
    border-top:2px solid #525252;
}
.student_list li {
    border-bottom:1px solid #c5c5c5;
    padding:10px 5px;
    color:#808080;
    cursor: pointer;
    font:700 14px 'Noto Sans KR', sans-serif;
}
.student_list li.click_student{
    color:#000;
}

.month_info {
    float:left;
    width:230px;
    height:30px;
    margin:0 12% 0 13%;
}
.month_info2 {
    clear:both;
    width:230px;
    height:30px;
    margin:25px auto;
}

.study_month{
    font-size:18px;
    float:left;
    font-weight:700;
    line-height:25px;
}
.month_info2 .study_month {
    font-size:30px;
}
.report_btn {
    margin:-30px 5px 0 0;
    float:right;
    font-weight:400;
    background-color:#fb8614;
    color:#fff;
    border : 1px solid #d09517;
}
.month_info>a,.month_info2>a  {
    float:left;
    margin:0 1em;
}

.ranking_view {
    margin-top:-30px;
}
.rank_name{
    width:250px;
}

.ranking_table {
    width:100%;
}
.ranking_table tr:first-child {
    border-top:2px solid #525252 ;
}
.ranking_table tr th {
    font-weight:600;
    color:#555;
    text-align:center;
    width:13%;
    padding:15px;
}
.ranking_table tr th:first-child {
    width: 7%;
}

.ranking_table tr {
    border-bottom: 1px solid #d7d7d7;
    /*    height:50px;*/
    font-size:13px;
    color:#555;
}
.ranking_table tr td {
    text-align:center;
    padding:16px 10px;
}
.ranking_table.fontcolor tr {
    color:#818181;
    font-weight:700;
}
.ranking_table.fontcolor tr th {
    color:#555;
    background-color:#f8f8f8;
}

.btn_comment {
    padding:5px 15px;
    background-color:#464646;
    border-radius:2px;
    border:1px solid #3863838;
    color:#fff;
    font-size:11px;
    cursor: pointer;
    float:right;
    margin-bottom:8px;
}
.btn_comment:hover {
    text-decoration: none;
}
.tchcomment {
    border:5px solid #f2f2f2;
}
.tchcomment textarea {
    font:400 13px 'Noto Sans KR',sans-serif;
}
.main_tbl01 tbody button { color:#fff; border-radius:0.3em;width:70px; height:30px;vertical-align:middle; background-color:#bbb; cursor: pointer; outline-width: inherit; box-shadow: none; border:1px solid #aaa; font-size:12px;}
.main_tbl01 tbody .main_report { background-color:#eb3030; border:1px solid #db2321;}
.main_tbl01 tbody .main_answer { background-color:#09add6; border:1px solid #049ec4; }
.main_tbl01 tbody .portfolio {background-color:#fba303; border:1px solid #fb8614;}
.main_tbl01 tbody button:last-child {width:140px; margin-top:2px;}
.main_class { color:#8b8b8b;}

.main_tbl02 td, .main_tbl03 td {
    padding:13px;
    border-bottom:1px solid #d7d7d7; overflow:hidden;
}
/* main 독서랭킹 table 고정*/
.mainbox03 .main_tbl02 {
    table-layout:fixed;
    width:100%;
    white-space: nowrap;
}
.mainbox03 .main_tbl02 th:nth-child(1){width:13%;}
.mainbox03 .main_tbl02 td:nth-child(2),.mainbox03 .main_tbl02 td:nth-child(3) { white-space: nowrap; overflow: hidden;text-overflow: ellipsis;}

.nocontents {text-align:center; font:300 14px 'Noto Sans KR', sans-serif; margin-top:100px;  color:#999;  }
.nocontents02 {text-align:center; font:300 14px 'Noto Sans KR', sans-serif; margin-top:60px;  color:#999;   }

#content .booklist {
    width:100%;
    height:100%;
    float:left;
    padding:13px 0 5px;
    background:url('../images/sub/book_bg.png') 0 0 no-repeat;
    background-size:100% 100%;
}
#content .booklist ul {
    width:77%;
    height:95%;
    margin:0 auto;
    overflow:hidden;
}

.booklayer {
    width:100px;
    height:140px;
    float:left;
    margin:5px 20px 45px;
    border: 5px solid #fff;
    box-sizing:border-box;
    box-shadow:5px 3px 10px 2px rgba(0,0,0,0.2);
}
.booklayer img {
    width:100%;
}

.btn_wrap {
    width:60%;
    margin:3% auto;
}
#content .tabmenu {width:100%; margin:0 0 30px 0; }
#content .tabmenu li {text-align:center; width:225px; float:left; font-size:15px; font-family: 'Noto Sans KR', sans-serif; font-weight:bold; }
#content .tabmenu li a {color:#a2a2a2; display:block; background-color:#3e3e3e; height:35px; margin-bottom:30px; padding-top:15px; border-right:1px solid #565656;}
#content .tabmenu li a:hover {color:#fff; text-decoration:none; background-color:#38bada; display:block; border-right:none; }
#content .tabmenu li.on a {background-color:#38bada; color:#fff;height:35px; margin-bottom:30px; padding-top:15px; display:block; border-right:none;}

#content .unit_list {width:110px; border-top:2px solid #333; padding-left:5px;  }
#content .unit_list td {width:100%; text-align:center; font-family: 'Open Sans', sans-serif; font-weight:700;  border-bottom:1px solid #999; font-size:13px; padding:8px 0;  }
#content .unit_list td a {color:#8c8c8c; }
#content .unit_list td a.active, #content .unit_list td a:hover {color:#222; text-decoration:none;  }

.discription01 {width:100%; min-height:50px; background:url(../images/sub/borderpt01.gif) repeat; padding:5px; }
.discwrapper {background-color:#fff; padding:18px; }
.discwrapper:after {content:'';display:block;clear:both}
.titbox01 {width:25%; float:left; text-align:center; font:400 14px 'Noto Sans KR'; color:#333333; padding-right:3%; }
.titbox01 p {background:url(../images/common/blt10.gif) 0 28px repeat-x; padding-bottom:20px; display:inline; }
.titbox02 {width:20%; float:left; text-align:center; font:400 16px 'Noto Sans KR'; color:#333333; padding-right:3%; }
.titbox02 p {background:url(../images/common/blt10.gif) 0 28px repeat-x; padding-bottom:20px; display:inline; }
.titbox01:after {content:'';display:block;clear:both}

.discbox {float:left;  }
.discbox:after {content:'';display:block;clear:both}
.discbox p.tp01 {font-size:13px; line-height:18px; background:url(../images/common/blt09.gif) 0 7px no-repeat; padding-left:6px; font-weight:normal; color:#444; }
.discbox p.tp02 {font-size:12px; color:#999; padding-left:8px; line-height:18px;}
.discbox p.tp03 {font-size:13px; line-height:24px; background:url(../images/common/blt09.gif) 0 10px no-repeat; padding-left:6px; font-weight:normal; color:#444444; display:; }
.discbox p.tp04 {font-size:13px; line-height:24px;  padding-left:6px; font-weight:normal; color:#444444; display:; }

.discbox p span {float:left; line-height:16px; width:100%; }
.discbox p span.step {line-height:18px;  font:700 14px 'Open Sans', sans-serif; color:#333333; margin-right:10px; position:relative; top:2px; color:#0bbae5; width:55px; }
.discbox p.redblt {color:#ff0000; padding-left:65px; font-size:12px; }

.tbl_list01 {width:100%; }
.tbl_list01 thead {border-top:2px solid #525252; border-right:1px solid #d7d7d7; border-left:1px solid #d7d7d7; border-bottom:1px solid #d7d7d7;background-color:#f6f6f6; }
.tbl_list01 th {text-align:center; padding:14px 5px; font-size:13px; font-weight:bold; color:#666; }
.tbl_list01 td {padding:16px 0 15px 0; border-bottom:1px solid #d7d7d7; text-align:center;}
.tbl_list01 td.txt {text-align:left; padding-left:10px; font-weight:bold; font-size:14px; }
.tbl_list01 td.txt a {color:#222; }
.tbl_list01 td.txt a:hover {color:#0087ef; }

.tbl_list01 td.date {color:#8b8b8b; font-size:14px; width:15%; }
.tbl_list01 td.num, .tbl_list01 td.clicknum {width:10%; color:#c2c2c2; font-size:13px; }
.tbl_list01 td.class {width:15%; color:#13c1ec; font-size:14px; font-weight:bold; }
.tbl_list01 td.name {width:10%; color:#8b8b8b; font-size:13px; }
.tbl_list01 td.status {width:10%; color:#8b8b8b; font-size:13px; font-size:11px; color:#fff; font-family:dotum; }
.tbl_list01 td.status span.qus {background:#13c1ec; padding:7px 12px; border:1px solid #1aa6c9; }
.tbl_list01 td.status span.ans {background:#bbbbbb; padding:7px 12px; border:1px solid #aaaaaa; }
.tbl_list01 td.case {width:20%; color:#8b8b8b; font-size:13px; }
.tbl_list01 td.down {padding:1px 10px; }
.tbl_list01 td.down a {font-size:11px; letter-spacing:0px; }

.tbl_list02 {width:100%; }
.tbl_list02 thead {
    border-top:2px solid #525252;
    border-right:1px solid #d7d7d7;
    border-left:1px solid #d7d7d7;
    border-bottom:1px solid #d7d7d7;
    background-color:#eeeeee;
}
.tbl_list02 th {
    text-align:center;
    padding:10px 20px;
    font-size:12px;
    font-weight:500;
    color:#555;
}
.tbl_list02 td {
    padding:10px 5px;
    border-bottom:1px solid #d7d7d7;
    text-align:center;
    font-size:13px;
    font-weight:400;
    color:#555;
}
.tbl_list02 td.bdright {border-right:1px solid #d7d7d7; }
.tbl_list02 td.name {font-size:14px; font-weight:bold; padding:15px 15px; }
.tbl_list02 td span.score {font-size:16px; color:#ff0000; position:relative; top:1px; }
.tbl_list02 td p.date {color:#ccc; padding-bottom:10px; }
.tbl_list02 td p.status {color:#ff0000; padding-top:10px; }
.tbl_list02 td.notyet {color:#aaa; }

.tbl_view01 {width:100%; border-top:2px solid #666; }
.tbl_view01 th {width:20%; background-color:#f8f8f8; text-align:center; font-family: 'Noto Sans KR', sans-serif; font-weight:500; font-size:14px; border-bottom:1px solid #e3e3e3; color:#727272; }
.tbl_view01 td {width:80%; border-bottom:1px solid #e3e3e3; padding:15px; font-size:14px; }
.tbl_view01 td.title { font-size:16px; font-weight:bold; color:#333333; }
.tbl_view01 td span.date {float:right; font-size:14px;margin-right:10px; color:#666; }
.tbl_view01 td span.checknum {float:right; font-size:14px; margin-right:20px; color:#c4c4c4; }
.tbl_view01 td.class {width:15%; color:#13c1ec; font-size:16px; font-weight:700; }

.tbl_write01 {width:100%; border-top:2px solid #666; border-bottom:1px solid #ebebeb; }
.tbl_write01 th {background-color:#f8f8f8; width:25%; text-align:center;font-family: 'Noto Sans KR', sans-serif; font-weight:bold; font-size:14px; padding:13px 0; border-bottom:1px solid #e3e3e3; color:#666; }
.tbl_write01 th.stit { font-size:13px; }
.tbl_write01 th.title {width:80%; text-align:left; font-size:16px; font-weight:bold; color:#666; padding:13px 0; }
.tbl_write01 th.title span {margin-left:10px; float:left; }
.tbl_write01 th span.blt_red {background:url(../images/common/blt_red.gif) 0 7px no-repeat; padding-left:8px; }




.tbl_write01 td { padding: 5px 10px; border-bottom:1px solid #e3e3e3; font-size:14px; text-align:left; color:#666666; font:bold 13px Nanum Gothic; }
.tbl_write01 td.id {font-size:13px; margin:0 10px 0 5px; color:#999; }
.tbl_write01 td.id span {font-size:14px; font-weight:700; color:#333; margin:0 5px; }
.tbl_write01 td.txt {padding-left:15px; }
.tbl_write01 td.txtbox {}
.tbl_write01 td.bookbox {padding:10px; height:140px; overflow-y:auto; }
.tbl_write01 td.bookbox .btn_change {vertical-align:bottom; padding:5px 14px; position:relative; top:-6px; font-family: 'Noto Sans KR', sans-serif; font-weight:500; font-size:12px; border-radius:3px; margin-left:5px; }
.tbl_write01 td.bookbox .btn_change:hover {text-decoration:none; }
.txtbook {
    width:118px;
    height:162px;
    border:5px solid #f0f0f0;
    margin:10px;
    /*    margin-bottom:20px; */
    position: relative;
    top: 0;
    left: 0;
    float:left;
}
.book_delete{
    position: absolute;
    top:-10px; right:-10px;
    cursor:pointer;
}
.tbl_write01 td.stlisttbl {padding: 10px 5px 10px 5px;}
.tbl_write01 td.stlisttbl div:nth-child(2) {padding-left:8px;}
.tbl_write01 td.stlisttbl span {font-size:13px; margin:5px; width:30%; overflow:hidden; display:inline-block; white-space:nowrap;}
.tbl_write01 td.stlisttbl span i {color:#999; font-family: 'Open Sans', sans-serif; }
.tbl_write01 td.selectclass {padding-top:4px; }
.tbl_write01 td.selectclass p {color:#222222; font-size:13px; line-height:32px; }
.tbl_write01 td.selectclass p i {color:#999; }
.classname_wrap {
    position: relative;
}
.classname_wrap>label {
    position: absolute;
    left:140px;
    top: 0;
    line-height:45px;
    margin:auto;
    font-size: 12px;
    color:#666666;
    font-family: 'Nanum Gothic', sans-serif;
    cursor: default;
    font-weight: 500;
}
.classname {
    background-color:#f7f7f7;
    padding-left:20px !important;
    font-size:14px;
    font-weight:bolder;
    width:100%;
}

.select_student {height:98px; overflow-y:auto;}

.add_student {
    height:155; overflow-y:auto;
    border-top: 2px solid #525252;
}

.add_student ul {
    clear:both;
    width:100%;
    border-bottom:1px solid #d7d7d7;
    display:inline-block;
}
.add_student ul li {
    float:left;
    width:153px;
    /*    margin-right:2px; */
    padding:10px 0 15px;
    overflow:hidden;
}
.add_student ul li span{
    font-size:12px;
    white-space: nowrap;
}
.add_student ul li span label {
    color:#222;
}
.add_student ul li span i {
    color:#999;
    font-family: 12px 'Open Sans', sans-serif;
    margin-left:-2px;
}

.search_box {
    width: 100%;
    background-color: #f6f6f6;
    text-align: center;
    padding: 15px;
    display: inline-block;
    margin: 20px 0;
}


.class_book {height:170px; overflow-y:auto;}

.talk_bubble {
    background: url('../images/sub/pt_popup01.gif') 0 0 no-repeat;
    float:right;
    width:65px; height:65px;
    margin-top:-70px;
    margin-right:20px;
    background-size:100% 100%;
}
.btn_search02 {
    width:77px;
}
.bookinfo_wrap {
    width:100%;
    height:210px;
    border: 5px solid #f2f2f2;
    margin:2% 0 4%;
}
.bookinfo_wrap2 {
    width:100%;
    /*    height:200px;*/
    border: 5px solid #f2f2f2;
    margin:2% 0 5%;
}
.book_img {
    width:118px;
    height:162px;
    border: 5px solid #f0f0f0;
    margin:3% 4%;
    float:left;
}
.book_img img {width: 100%; height: 100%;}
.book_info {
    float:left;
}
.book_title {
    font-weight:700;
    font-size:20px;
    color:#0da6e3;
    margin:10px;
    float:left;
    line-height:20px;
}
.book_title span {color:#bbb; font-size:12px;}

.book_review {
    padding:10px;

}
.book_review tr {
    border-bottom: 1px solid #d8d8d8;
    cursor: pointer;
}

.book_review th:first-child{
    width:50%;
    text-align: left;
}

.book_review th {
    width:16.6%;
    float:left;
    padding:10px;
    border-bottom: none;
    background-color:rgba(0,0,0,0);
    font:500 13px 'Noto Sans KR',sans-serif;
}

.book_review th span {
    text-align:center;
}
.book_review td {
    float:left;
    width:100%;
    height:auto;
    border-bottom: none;
    padding:15px;
    text-align:left;
    font:500 13px 'Noto Sans KR',sans-serif;

}
.book_review ul li{
    float:left;
}
.review_click {
    background-color:#f8f8f8;
}

.synopsis {
    clear:both;
    width:91%;
    background-color:#f2f2f2;
    color:#8d8d8d;
    margin:10px auto;
    padding:20px;
    font:500 13px 'Noto Sans KR', sans-serif;
}

.point_round {
    width:50px;
    height:50px;
    border-radius:30px;
    background:url('../images/common/round.png') 0 0 no-repeat;
    font:600 18px 'Noto Sans KR', sans-serif;
    text-align:center;
    color:#fff;
    letter-spacing: -0.5px;
    float:left;
    margin-top:12px;
    padding-top : 9px;
    line-height:13px;
    cursor:default;
}
.point_round span {
    font-size:10px;
    font-weight:700;
}
.linechart_wrap {
    border: 5px solid #f2f2f2;
}
.linechart_wrap canvas {
    max-width:550px;
    max-height:220px;
    margin:20px auto;
}
.chart_wrap canvas{
    float:left;
    max-width:205px;
    margin:10px 18px;
}
.reportbox {
    width:768px;
    height:1100px;
    overflow:hidden;
}
.teacher_comment {
    clear:both;
    width:100%;
}
.gradebody {
    clear:both;
}

/*별점*/
.icon-star {
    color:gray;
}
.checked {
    color:gold;
}

.leveltest_level {
    float:left;
    margin-left:30px;
    line-height:20px;
    color:#4e9d91;
    font-size:13px;
}
.leveltest_table thead tr {height:50px;}
.leveltest_table thead tr th{
    font-weight:700;
}
.leveltest_table tbody tr td{
    color:#727272;
    padding:20px 10px;
}
.leveltest_table tbody tr td:nth-child(2) {
    width:55%;
}
.stlist li>a>.img_off {
    display:inline-block;
}
.stlist li>a>.img_on {
    display:none;
}
/*
.hover_css { background-color: #fb8614;}
.default_css {background-color: #283142; color:#64178a;}
*/

input[type="password"]
{
    width:50%;
    padding:5px 8px;
    border:solid 1px #d9d9d9;
    color:#555;
    font-size:20px;
}

.tbl_write02 {width:100%; border-top:2px solid #13c1ec; border-bottom:1px solid #ebebeb; }
.tbl_write02 th { width:50%; text-align:center;font-family: 'Noto Sans KR', sans-serif; font-weight:400; font-size:16px; padding:13px 0; border-bottom:1px solid #e3e3e3; color:#666; }
.tbl_write02 td { padding: 8px 10px; border-bottom:1px solid #e3e3e3; font-size:14px; text-align:left; }

td.textbody {width:100%; text-align:left; font-size:13px; line-height:32px; padding-bottom:150px; }
td.textbody02 {width:100%; text-align:left; font-size:13px; line-height:32px; padding:30px 30px 50px 30px; }

.select_arrow {width:8%; text-align:center; height:240px; display:inline-block; vertical-align:top;  }
.select_arrow a.right {margin-bottom:3px; margin-top:87px; display:inline-block;  }
.selectleftbox{width: 45%; height: 240px; background: #fafafa; overflow-y: auto; border:1px solid #d9d9d9; padding:10px; display:inline-block; }
.selectleftbox::-webkit-scrollbar { width: 6px; }
.selectleftbox::-webkit-scrollbar-thumb { border-radius: 3px; -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,1); background-color:#ddd;  }

.selectrightbox{width: 45%; height: 240px; background: #fafafa; overflow-y: auto; border:1px solid #d9d9d9; padding:10px; display:inline-block; }
.selectrightbox::-webkit-scrollbar { width: 6px;   }
.selectrightbox::-webkit-scrollbar-thumb { border-radius: 3px; -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,1); background-color:#ddd;  }

.facethumbmail ul.thumbnails.image_picker_selector {overflow: auto; list-style-image: none; list-style-position: outside; list-style-type: none; padding: 0px; margin: 0px; }
.facethumbmail ul.thumbnails.image_picker_selector ul {overflow: auto;list-style-image: none;list-style-position: outside;list-style-type: none;padding: 0px;margin: 0px; }
.facethumbmail ul.thumbnails.image_picker_selector li.group_title {float: none; }
.facethumbmail ul.thumbnails.image_picker_selector li {margin: 5px 12px 5px 0px;float: left; }
.facethumbmail ul.thumbnails.image_picker_selector li .thumbnail {padding: 5px; border-radius:24px; background: #eee; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
.facethumbmail ul.thumbnails.image_picker_selector li .thumbnail img {-webkit-user-drag: none; border-radius:19px;}
.facethumbmail ul.thumbnails.image_picker_selector li .thumbnail.selected {background: #97dced; }

.booklistthumb {overflow-y: auto; height:560px;  width:100%; overflow-x:hidden;
    scrollbar-3dlight-color:#d1d8da; scrollbar-arrow-color:#c0c8ca; scrollbar-track-color:#d1d8da; scrollbar-darkshadow-color:#d1d8da;scrollbar-face-color:#c0c8ca;
    scrollbar-highlight-color:#d1d8da; scrollbar-shadow-color:#d1d8da;}
.booklistthumb::-webkit-scrollbar { width: 6px;   }
.booklistthumb::-webkit-scrollbar-thumb { border-radius: 3px; -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.5); background-color:#aaa;  }

.booklistthumb02 {overflow-y: auto; height:560px;  width:100%; overflow-x:hidden;
    scrollbar-3dlight-color:#b9c1c4; scrollbar-arrow-color:#a8b0b3; scrollbar-track-color:#b9c1c4; scrollbar-darkshadow-color:#b9c1c4;scrollbar-face-color:#a8b0b3;
    scrollbar-highlight-color:#b9c1c4; scrollbar-shadow-color:#b9c1c4;}
.booklistthumb02::-webkit-scrollbar { width: 6px;   }
.booklistthumb02::-webkit-scrollbar-thumb { border-radius: 3px; -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.5); background-color:#aaa;  }

ul.thumbnails.image_picker_selector {list-style-image: none; list-style-position: outside; list-style-type: none; padding: 0px; margin: 0px; }
ul.thumbnails.image_picker_selector ul {overflow: auto;list-style-image: none;list-style-position: outside;list-style-type: none;padding: 0px;margin: 0px; }
ul.thumbnails.image_picker_selector li.group_title {float: none; }
ul.thumbnails.image_picker_selector li {margin: 0px 0 10px 0px;float: left; }
ul.thumbnails.image_picker_selector li .thumbnail {padding: 5px; background: #cdcfd3; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
ul.thumbnails.image_picker_selector li .thumbnail img {-webkit-user-drag: none; }
ul.thumbnails.image_picker_selector li .thumbnail.selected {background: #fff; }

.pagebox {width:100%;  text-align:center; }
.pagebox2 {width:70%; height:40px; position: absolute; bottom: 0; left: 25%; right: 0; margin:auto;}
.pagebox3 {
    width:100%;
    height:40px;
    position: absolute;
    bottom: -8px;
    left: 45%;
    right: 0;
    margin:auto;
}
.paging { color:#8b8b8b; font:500 12px Open Sans; text-align:center;  }
.paging a {border:1px solid #ddd; color:#ABABAB; margin:0; background-color:#fff; border-radius: 2px; }
.paging .num { padding:8px 13px 9px 13px;  }
.paging a:hover { background-color:#fb8614; border:1px solid #fb8614; border-radius: 3px; text-decoration:none;color:#fff;  }
.paging a.on { background-color:#fb8614; color:#fff; text-decoration:none;  border:1px solid #fb8614; }

.paging  .btn { padding:8px 16px 9px 16px; background:url(../images/common/paging.png) no-repeat; margin:0 2px 0 1px;  text-indent:-10000px;   }
.paging  .btn:hover { background-color:#fb8614; border:1px solid #fb8614; }

.paging .first {background-position:-3px -2px;   }
.paging .prev {background-position:-38px -2px;   }
.paging .next {background-position:-77px -2px;   }
.paging .end {background-position:-116px -2px;   }

.paging .first:hover {background-position:-3px -40px;   }
.paging .prev:hover{background-position:-38px -40px;   }
.paging .next:hover {background-position:-77px -40px;   }
.paging .end:hover {background-position:-116px -40px;   }

.spagebox {width:100%;  text-align:center; position:absolute; bottom:13px;  }
.paging02 {display:inline-block;  font-size:0;  }
.paging02 a {color:#ABABAB; margin:0; background-color:#121824; border-radius:10px;padding:7px;  margin:0 2px; }
.brown a{background-color:#5b4025;}
.paging02 a.active, .paging02 a:hover { background-color:#fb8614; }

@media (min-width:1281px) {
    #content .titarea {width:1100px; margin:0 auto; height:100px; text-align:center; }
    #content .sub {width:1100px; background-color:#fff; margin:0 auto; padding:39px 39px 60px 39px; min-height:500px; z-index:10; position:relative; border:1px solid #d2dcdf;}
    #content .sub02 {box-sizing: border-box; width:1100px;}
    #content .topbar {box-sizing: border-box;width:1100px; background-color:#fff; margin:0 auto; height:56px; z-index:11; position:relative; margin-bottom:10px; box-sizing: border-box; border: 1px solid #d9d9d9;}

    #content .box_class {box-sizing: border-box; float:left;  background-color:#283142; margin-right:10px; position:relative; }
    #content .box_contents01 {box-sizing: border-box; float:left; background-color:#fff; padding:18px 25px 0 25px; border:1px solid #dde5e7; }
    #content .booklist ul {
        width:86%;
        height:95%;
        margin:0px auto;
        overflow:hidden;
    }

    .month_info {
        margin:0 12% 0 24%;
    }
}