*{margin: 0; padding: 0; list-style: none;}
    a{text-decoration: none;}

     .progressbar {
         background-color: rgba(0,0,0,0.1); 
         width:100%; 
         height:8px; 
         border-radius:0; 
         padding: 0;
    }
     .progressbar::before { display:none; }

     .horizbar {
         width:100%; 
         height:7px; 
         border-radius:0; 
         top: 0; left: 0; 
    } 
