
@media (min-height:940px) {
/*Type DD*/
.content .questiontype03 {width:80%; height:calc(100vh - 362px);  text-align:center; margin-top:60px; margin-left:10%; }
.content .questiontype03 .qnumber {position:absolute;left:80px;}

.content .questiontype03 .picard {width:100%;  display: table; margin-bottom:40px;}

.content .questiontype03 .picard .txtcell {display:table-cell;height:350px;vertical-align:middle;text-align:left; padding: 0 15px;}
.content .questiontype03 .picard .txtcell .answerbox {border:3px dotted #13de9a; padding:20px 20px; border-radius:10px; background-color:#fff; font:600 14px 'Open Sans', sans-serif;  color:#666;line-height:26px;margin:0 5px 10px;display:inline-block;}

.content .questiontype03 .txtcard {width:100%; background-color:#eee; text-align:left;  border:3px solid #ccc; border-style: dotted; padding:10px 10px; border-radius:15px;margin-bottom:10px; }
.content .questiontype03 .txtcard span {border:3px solid #13de9a; padding:5px 10px; border-radius:10px; background-color:#fff; display:inline-block; font:700 26px 'Open Sans', sans-serif; margin-right:10px; margin-bottom:8px;}
.content .questiontype03 .txtcard span img {height:90px;}

}



@media (min-height:821px) and (max-height:939px) {
/*Type DD*/
.content .questiontype03 {width:80%; height:calc(100vh - 362px);  text-align:center; margin-top:60px; margin-left:10%; }
.content .questiontype03 .qnumber {position:absolute;left:80px;}

.content .questiontype03 .picard {width:100%;  display: table; margin-bottom:40px;}

.content .questiontype03 .picard .txtcell {display:table-cell;height:300px;vertical-align:middle;text-align:left; padding: 0 15px;}
.content .questiontype03 .picard .txtcell .answerbox {border:3px dotted #13de9a; padding:15px 15px; border-radius:10px; background-color:#fff; font:500 14px 'Open Sans', sans-serif;  color:#666;line-height:24px;margin:0 5px 10px;display:inline-block;}

.content .questiontype03 .txtcard {width:100%; background-color:#eee; text-align:left;  border:3px solid #ccc; border-style: dotted; padding:10px 10px; border-radius:15px; margin-bottom:10px; }
.content .questiontype03 .txtcard span {border:3px solid #13de9a; padding:5px 10px; border-radius:10px; background-color:#fff; display:inline-block; font:700 24px 'Open Sans', sans-serif; margin-right:10px; margin-bottom:8px;}
.content .questiontype03 .txtcard span img {height:90px;}

}


@media (max-height:820px) {
/*Type DD*/
.content .questiontype03 {width:80%; height:calc(100vh - 312px);  text-align:center; margin-top:30px; margin-left:10%; }
.content .questiontype03 .qnumber {position:absolute;left:80px;}

.content .questiontype03 .picard {width:100%;  display: table; margin-bottom:20px;}

.content .questiontype03 .picard .txtcell {display:table-cell;height:250px;vertical-align:middle; text-align:left; padding: 0 15px;}
.content .questiontype03 .picard .txtcell .answerbox {border:3px dotted #13de9a; padding:10px 10px; border-radius:10px; background-color:#fff; font:500 12px 'Open Sans', sans-serif;  color:#666;line-height:20px;margin:0 5px 10px;display:inline-block;}

.content .questiontype03 .txtcard {width:100%; background-color:#eee; text-align:left;  border:3px solid #ccc; border-style: dotted; padding:10px 10px; border-radius:15px;margin-bottom:10px; }
.content .questiontype03 .txtcard span {border:3px solid #13de9a; padding:5px 10px; border-radius:10px; background-color:#fff; display:inline-block; font:700 20px 'Open Sans', sans-serif; margin-right:10px; margin-bottom:8px;}
.content .questiontype03 .txtcard span img {height:90px;}


}






