@media (min-height:940px) {
/*Type RP*/
.content .questiontype06 {width:100%; height:calc(100vh - 312px);  text-align:center; padding-top:120px;  }
.content .questiontype06 .picard { display:inline-block; position:relative;  } 
.content .questiontype06 .rpimg {width:804px;height:454px;border: 2px dotted #333;} 
.content .questiontype06 .rpimg img {width:800px;} 
.content .questiontype06 .qnumber {  position:absolute; left:-140px; }
.content .questiontype06 .player {width:804px; margin:0 auto; }
.content .questiontype06 .rpaudio {width:804px; height: 30px; }

}



@media (min-height:821px) and (max-height:939px) {
/*Type RP*/
.content .questiontype06 {width:100%; height:calc(100vh - 312px);  text-align:center; padding-top:100px;  }
.content .questiontype06 .picard { display:inline-block; position:relative;  } 
.content .questiontype06 .rpimg {width:704px;height:398px;border: 2px dotted #333;} 
.content .questiontype06 .rpimg img {width:700px;} 
.content .questiontype06 .qnumber {  position:absolute; left:-100px; }
.content .questiontype06 .player {width:704px; margin:0 auto; }
.content .questiontype06 .rpaudio {width:704px; height: 30px; }
}


@media (max-height:820px) {
/*Type RP*/
.content .questiontype06 {width:100%; height:calc(100vh - 262px);  text-align:center; padding-top:40px;  }
.content .questiontype06 .picard { display:inline-block; position:relative;  } 
.content .questiontype06 .rpimg {width:554px;height:315px;border: 2px dotted #333;} 
.content .questiontype06 .rpimg img {width:550px;} 
.content .questiontype06 .qnumber {  position:absolute; left:-120px; }
.content .questiontype06 .player {width:554px; margin:0 auto; }
.content .questiontype06 .rpaudio {width:554px; height: 30px; }

}






